<!--copied-->
<link rel="stylesheet" href="css/style.css">

<div class="container">
    <div class="row" >
      <br></br>
      <br></br>

      <br></br>

        <div class="col ">
            <br></br>
            
            <h1>About TireHamburger</h1>
            TireHamburger is a website to keep track of tasks, responsiblities, and projects in a particulary social, external, and gamified style

            The name is a reference to a practice of enrichment teams in zoos
        </div>
        <div class="col ">
          <img src="https://cdn.iconscout.com/icon/free/png-512/witch-105-1074593.png"
           width="30%" alt="witch hat icon" >
        </div>
      </div>

        <div class="bg-grey text-white">
        <h2>
          contact me at
        </h2>
        <ul>
          <li> <a href="http://www.brandeis.edu">arisrivaapple@brandeis.edu</a></li>
          <li> <a href="http://www.cs.brandeis.edu/~tim">theironstarre@gmail.com</a></li>
        </ul>
      </div>
    </div>
</body>