<link rel="stylesheet" href="css/style.css">
You are already in the team <%= team %>. 
<br>

<form method="post" action="/team">
    <input type="submit" value="To Team Page"><br>
</form>

<form method="post" action="/EditProfile">
    <input type="submit" value="Back To Profile"><br>
</form>