<link rel="stylesheet" href="css/style.css">
You are currentally in the team <%= teamName %>. 
<br>
Would you like to join the team <%= teamRequest %> instead?

<form method="post" action="/joinTeamConfirmed">
    <input type="submit" value="Join"><br>
</form>

<form method="post" action="/EditProfile">
    <input type="submit" value="Cancel"><br>
</form>