<link rel="stylesheet" href="css/style.css">
<h1>Great Job!!</h1>
You just completed a todo item: <%= task['task_name'] %>!!<br>
Congratulations!!!<br>
<a href="/TaskBoardPage">Return to your taskboard <%= user.googlename %> </a>