<!--copied-->
<link rel="stylesheet" href="css/style.css">
<div class="jumbotron">
    <h1>Your Profile</h1>
    <p>
      Update your profile information!
      You are in team <%=teamName%>
    </p>
  </div>
  


<body>
<div>
  <form method="post" action="/teamSearch">
    Your team name:
    <input type="text"
          name="search"
          placeholder="your team search"><br>
  <input type="submit" value="Search">
  </form>
</div>
</body>