<link rel="stylesheet" href="css/style.css">
A team exists with this name!! 
<br>
Would you like to join this team?

<form method="post" action="/joinTeamConfirmed">
    <input type="submit" value="Join"><br>
</form>

<form method="post" action="/EditProfile">
    <input type="submit" value="Cancel"><br>
</form>