<link rel="stylesheet" href="css/style.css">
No team exists with this name--Would you like to make this team?
<br>
<form method="post" action="/makeTeamConfirmed">
    <input type="submit" value="Make Team"><br>
</form>

<form method="post" action="/EditProfile">
    <input type="submit" value="Cancel"><br>
</form>