<!--copied-->
<nav class="navbar navbar-expand-lg navbar-light bg-none">
  <a class="navbar-brand" href="/"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<!--i wanta more screen-by screen guided challenge system and a vertical scrooling menu bar -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item ">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/demo">What is Tire Hamburger</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/form">Friends Leader Board</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/omelet">Challege Board!!!</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/omelet">Daily Prize Wheel</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/omelet">Reward Shop</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/c19">Start Form</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/omelet">Suggestion/Question Box</a>
      </li>
    </ul>
  </div>
</nav>