<link rel="stylesheet" href="css/style.css">
<form method="post" action="/addNewTask">
    task name: <input type="text" name="taskName"><br>
    task description: <input type="text" name="taskDescription"><br>
    task due date: <input type="date" name="taskDueDate"><br>
    task due time: <input type="number" name="taskDueTime"><br>
    task weight: <input type="number" name="taskWeight"><br>
    <input type="submit" value="Save Item"><br>
</form>