<link rel="stylesheet" href="css/style.css">
<form method="post" action="/addNewTask">
    task name: <input type="text" name="taskName"><br>
    task description: <input type="text" name="taskDescription"><br>
    task due date: <input type="text" name="taskDueDate"><br>
    task due time: <input type="number" name="taskDueTime"><br>
    task weight: <input type="number" name="taskWeight"><br> 
    taskpoints: <input type="number" name="taskPoints"> <br> 
    prize: <input type="text" name="taskPrize" ><br> 
    direct prize: <input type="checkbox" name="taskDirectPrize"><br>
    completion status: <input type="checkbox" name="taskStatusCompleted"><br>  
    <input type="submit" value="Save Item"><br>
</form>