<!--copied--> 
<link rel="stylesheet" href="css/style.css"> <!--change to the link being the name of the team, in case people have multipl teams?--> 
<div class="container">
  <h1>Your Team!!! <%=user.team%></h1>
  <h5>(~and points~)</h5>
</div>